<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.RockiotTag.tag">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".RockiotTagApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RockiotTag"
        android:networkSecurityConfig="@xml/network_security_config"
        android:enableOnBackInvokedCallback="true"
        android:extractNativeLibs="true"
        tools:targetApi="31">
        <!-- 高德地图API Key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2bebb0067640416e8024bc5afd9ba801" />
        <!-- 谷歌地图API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrAPLhyAuC-GsRtc5m2eVXDhxkD_AZHUU" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.RockiotTag">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DeviceListActivity"
            android:exported="false"
            android:theme="@style/Theme.RockiotTag.NoActionBar" />

        <activity
            android:name=".GeofenceActivity"
            android:exported="false" />

        <activity
            android:name=".AddDeviceActivity"
            android:exported="false"
            android:theme="@style/Theme.RockiotTag.NoActionBar" />

        <activity
            android:name=".CustomCaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RockiotTag" />

        <activity
            android:name=".ApiTestActivity"
            android:exported="false" />

        <activity
            android:name=".TrackActivity"
            android:exported="false" />

        <activity
            android:name=".NavigationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".WebViewMapActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize" />

        <service
            android:name=".BLEForegroundService"
            android:exported="false"
            android:foregroundServiceType="location" />

    </application>

</manifest>